<nav class="navbar navbar-expand-md bg-success sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-md-none" href="#">
      Municipes
    </a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-start">
          <li class="nav-item"><a class="nav-link" href="#">Municipes</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
